In [2]:
import pandas as pd
import requests

In [3]:
df_locations = pd.read_csv('./final_data/ntu_station_locations_all.csv')
df_locations.drop(columns=["Unnamed: 0.1", "Unnamed: 0"], inplace = True)
df_locations

,Name,Latitude,Longitude,Capacity,MRT Station Name,Latitude_m,Longitude_m,Dorm Name,Latitude_Dorm,Longitude_Dorm
0,臺大明達館北側(員工宿舍),25.01816,121.54469,18,Technology Building Station,25.026030,121.543620,長興宿舍,25.017346,121.544938
1,臺大博理館西側,25.01922,121.54195,22,Technology Building Station,25.026030,121.543620,台灣大學女九舍,25.019746,121.539409
2,臺大立體機車停車場,25.01616,121.54251,27,MRT Gongguan Sta.,25.013132,121.536171,NTU 1st Men's Dorm,25.016462,121.544545
3,臺大凝態館南側,25.02157,121.53633,20,Taipower Building Station,25.019981,121.528901,台灣大學女九舍,25.019746,121.539409
4,臺大小福樓東側,25.01846,121.53760,31,Gongguan Station,25.014321,121.534549,台灣大學女九舍,25.019746,121.539409
...,...,...,...,...,...,...,...,...,...,...
98,臺大綜合體育館停車場前,25.02220,121.53626,23,Taipower Building Station,25.019981,121.528901,台灣大學女九舍,25.019746,121.539409
99,辛亥新生路口東南側,25.02218,121.53474,40,Taipower Building Station,25.019981,121.528901,台灣大學女九舍,25.019746,121.539409
100,基隆長興路口東側,25.01727,121.54471,14,MRT Gongguan Sta.,25.013132,121.536171,長興宿舍,25.017346,121.544938
101,新生南路三段66號前,25.01976,121.53384,16,Taipower Building Station,25.019981,121.528901,台大女五舍,25.015760,121.535112
102,捷運公館站(2號出口),25.01491,121.53438,82,Gongguan Station,25.014321,121.534549,大一女A棟,25.015289,121.534618

- Get the locations of the selected points

In [4]:
candidate = ["國立臺灣大學圖書館", "國立臺灣大學管理學院", "台灣大學行政大樓", "國立臺灣大學博雅教學館", "國立臺灣大學醉月湖", "國立臺灣大學綜合體育館", "國立臺灣大學 計算機及資訊網路中心", "國立臺灣大學工學院綜合大樓", "第一學生活動中心", "國立臺灣大學綜合教學館", "臺灣大學電機資訊學院", "國立臺灣大學社會科學院", "台大小福廣場", "美德耐 台科大活動中心第一餐廳", "麗陽商場 台科大第三學生餐廳"] 
lat = []
lng = []
api_key = ""

for name in candidate:
    url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input="+ name + "&inputtype=textquery&fields=geometry&key="+ api_key
    payload= {}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload)
    res_json = response.json()
    lat.append(res_json["candidates"][0]["geometry"]["location"]['lat'])
    lng.append(res_json["candidates"][0]["geometry"]["location"]['lng'])

candidate_dict = {"Name":candidate, "Latitude":lat, "Longitude":lng}
df_candidate = pd.DataFrame(candidate_dict)
df_candidate

                 Name   Latitude   Longitude
0           國立臺灣大學圖書館  25.017412  121.540497
1          國立臺灣大學管理學院  25.013963  121.538070
2            台灣大學行政大樓  25.016286  121.536775
3         國立臺灣大學博雅教學館  25.018845  121.536700
4           國立臺灣大學醉月湖  25.020308  121.537716
5         國立臺灣大學綜合體育館  25.021990  121.535232
6   國立臺灣大學 計算機及資訊網路中心  25.020872  121.539774
7       國立臺灣大學工學院綜合大樓  25.019038  121.540254
8            第一學生活動中心  25.017759  121.540093
9         國立臺灣大學綜合教學館  25.018240  121.539504
10         臺灣大學電機資訊學院  25.018771  121.541471
11        國立臺灣大學社會科學院  25.020756  121.542462
12             台大小福廣場  25.018600  121.537424
13    美德耐 台科大活動中心第一餐廳  25.014016  121.542539
14     麗陽商場 台科大第三學生餐廳  25.011941  121.541080

In [5]:
df_candidate.to_csv("candidates.csv")

- Get the distance matrix

In [12]:
res = {"From":[], "To":[], "Distance (meters)":[], "Duration (seconds)":[], "Type":[]}
station_names = list(df_locations["Name"])
candidate_names = list(df_candidate["Name"])
print(station_names, candidate_names)

['臺大明達館北側(員工宿舍)', '臺大博理館西側', '臺大立體機車停車場', '臺大凝態館南側', '臺大小福樓東側', '臺大公館停車場西北側', '臺大總圖書館西南側', '臺大新體育館東南側', '臺大明達館機車停車場', '臺大博雅館西側', '臺大電機二館東南側', '臺大檔案展示館', '臺大工綜館南側', '臺大生命科學館西北側', '臺大第一活動中心西南側', '臺大圖資系館北側', '臺大水源舍區A棟', '臺大原分所北側', '臺大小小福西南側', '臺大水源舍區B棟', '臺大大一女舍北側', '臺大社會系館南側', '臺大椰林小舖', '臺大禮賢樓東南側', '臺大心理系館南側', '臺大管理學院二館北側', '臺大男八舍東側', '臺大森林館北側', '臺大舊體育館西側', '臺大共同教室東南側', '臺大計資中心南側', '臺大一號館', '臺大農化新館西側', '臺大四號館東北側', '臺大樂學館東側', '臺大農業陳列館北側', '臺大思亮館東南側', '臺大新生教室南側', '臺大水源修齊會館', '臺大土木系館', '臺大五號館西側', '臺大鹿鳴堂東側', '臺大卓越研究大樓', '臺大共同教室北側', '臺大二號館', '臺大社科院西側', '臺大黑森林西側', '臺大獸醫館南側', '臺大女九舍西南側', '臺大第二行政大樓南側', '臺大教研館北側', '臺大天文數學館南側', '臺大鄭江樓北側', '捷運公館站(3號出口)', '臺大資訊大樓', '捷運臺電大樓站(2號出口)_1', '芳蘭山莊', '敦親公園', '大安運動中心', '基隆長興路口', '辛亥新生路口西北側', '新生南路三段94巷口', '捷運科技大樓站(台北教育大學)', '捷運臺電大樓站(2號出口)', '捷運科技大樓站', '復興南路二段273號前', '國北教大實小東側門', '和平公園東側', '辛亥復興路口西北側', '復興南路二段280號前', '復興南路二段340巷口', '新生南路三段52號前', '新生南路三段82號前', '辛亥路一段30號前', '羅斯福路三段311號前', '羅斯福路三段245號前', '大安運動中心停車場', '溫州公園', '和平臥龍街口', '溫州停車場', '銘傳國小側門', '第二學生活動中心', '臺灣科技大學正門', '臺灣科技大學側門', '公館公園', '臺灣科技大學後門', '臺大醫學院附設癌醫中心', '臺大環研大樓', '臺大永齡生醫工程館', '臺大男七舍前', '臺大男一舍前', '臺大男六舍前', '臺大動物醫院前', '臺大土木研究大樓前', '臺大萬才館前', '臺大國青大樓宿舍前', '臺大社科院圖書館前', '臺大法人語言訓練中心前', '臺大綜合體育館停車場前', '辛亥新生路口東南側', '基隆長興路口東側', '新生南路三段66號前', '捷運公館站(2號出口)'] ['國立臺灣大學圖書館', '國立臺灣大學管理學院', '台灣大學行政大樓', '國立臺灣大學博雅教學館', '國立臺灣大學醉月湖', '國立臺灣大學綜合體育館', '國立臺灣大學 計算機及資訊網路中心', '國立臺灣大學工學院綜合大樓', '第一學生活動中心', '國立臺灣大學綜合教學館', '臺灣大學電機資訊學院', '國立臺灣大學社會科學院', '台大小福廣場', '美德耐 台科大活動中心第一餐廳', '麗陽商場 台科大第三學生餐廳']

In [13]:
for station in station_names:
    station_lat = float(df_locations[df_locations["Name"] == station]["Latitude"])
    station_lng = float(df_locations[df_locations["Name"] == station]["Longitude"])
    # 15 Candidates 
    for c, can in enumerate(candidate_names):
        can_lat = float(df_candidate[df_candidate["Name"] == can]["Latitude"])
        can_lng = float(df_candidate[df_candidate["Name"] == can]["Longitude"])
        url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+ str(station_lat) + "%2C" + str(station_lng) + "&destinations="+ str(can_lat) + "%2C" + str(can_lng)  +"&mode=bicycling&region=tw&key=" + api_key
        payload={}
        headers= {}
        res_2 = requests.request("GET", url, headers=headers, data=payload).json()
        distance  = res_2["rows"][0]["elements"][0]["distance"]["value"]
        duration  = res_2["rows"][0]["elements"][0]["duration"]["value"]
        res["From"].append(station)
        res["To"].append(can)
        res["Distance (meters)"].append(distance)
        res["Duration (seconds)"].append(duration)
        res["Type"].append("Candidate"+str(c))
    # Nearest MRT (16)
    mrt_name = (df_locations[df_locations["Name"] == station]["MRT Station Name"])
    mrt_lat = float(df_locations[df_locations["Name"] == station]["Latitude_m"])
    mrt_lng = float(df_locations[df_locations["Name"] == station]["Longitude_m"])
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+ str(station_lat) + "%2C" + str(station_lng) + "&destinations="+ str(mrt_lat) + "%2C" + str(mrt_lng)  +"&mode=bicycling&region=tw&key=" + api_key
    payload={}
    headers = {}
    res_2 = requests.request("GET", url, headers=headers, data=payload).json()
    distance  = res_2["rows"][0]["elements"][0]["distance"]["value"]
    duration  = res_2["rows"][0]["elements"][0]["duration"]["value"]
    res["From"].append(station)
    res["To"].append(mrt_name)
    res["Distance (meters)"].append(distance)
    res["Duration (seconds)"].append(duration)
    res["Type"].append("MRT")
    # Nearest Dorm (17)
    dorm_name = (df_locations[df_locations["Name"] == station]["Dorm Name"]).to_string()
    dorm_lat = float(df_locations[df_locations["Name"] == station]["Latitude_Dorm"])
    dorm_lng = float(df_locations[df_locations["Name"] == station]["Longitude_Dorm"])
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+ str(station_lat) + "%2C" + str(station_lng) + "&destinations="+ str(dorm_lat) + "%2C" + str(dorm_lng)  +"&mode=bicycling&region=tw&key=" + api_key
    payload={}
    headers = {}
    res_2 = requests.request("GET", url, headers=headers, data=payload).json()
    mrt_name = (df_locations[df_locations["Name"] == station]["MRT Station Name"]).to_string()
    distance  = res_2["rows"][0]["elements"][0]["distance"]["value"]
    duration  = res_2["rows"][0]["elements"][0]["duration"]["value"]
    res["From"].append(station)
    res["To"].append(dorm_name)
    res["Distance (meters)"].append(distance)
    res["Duration (seconds)"].append(duration)
    res["Type"].append("Dorm")

df_res = pd.DataFrame(res)

/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:2: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  station_lat = float(df_locations[df_locations["Name"] == station]["Latitude"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:3: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  station_lng = float(df_locations[df_locations["Name"] == station]["Longitude"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  can_lat = float(df_candidate[df_candidate["Name"] == can]["Latitude"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  can_lng = float(df_candidate[df_candidate["Name"] == can]["Longitude"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:21: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  mrt_lat = float(df_locations[df_locations["Name"] == station]["Latitude_m"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:22: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  mrt_lng = float(df_locations[df_locations["Name"] == station]["Longitude_m"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:36: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  dorm_lat = float(df_locations[df_locations["Name"] == station]["Latitude_Dorm"])
/var/folders/ss/9b82800n1bq54s_0p7_m551c0000gn/T/ipykernel_1993/554905528.py:37: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  dorm_lng = float(df_locations[df_locations["Name"] == station]["Longitude_Dorm"])

In [14]:
df_res.rename(columns={"Distance (meters)":"dist"}, inplace=True)
df_res.drop(columns=["To", "Duration (seconds)"], inplace=True)
df_res

               From  dist         Type
0     臺大明達館北側(員工宿舍)   553   Candidate0
1     臺大明達館北側(員工宿舍)  1023   Candidate1
2     臺大明達館北側(員工宿舍)  1037   Candidate2
3     臺大明達館北側(員工宿舍)  1090   Candidate3
4     臺大明達館北側(員工宿舍)   935   Candidate4
...             ...   ...          ...
1746    捷運公館站(2號出口)   859  Candidate12
1747    捷運公館站(2號出口)  1324  Candidate13
1748    捷運公館站(2號出口)  1255  Candidate14
1749    捷運公館站(2號出口)   156          MRT
1750    捷運公館站(2號出口)   302         Dorm

[1751 rows x 3 columns]

In [15]:
df_res.to_csv('./final_data/distance_matrix.csv',index=False)